@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Benvenuti</h1>
    <p class="lead">Utilizza il menu di navigazione in alto per gestire trasgressori, violazioni e verbali.</p>
    <hr class="my-4">
    <p>Scegli un'opzione per iniziare:</p>
    <a class="btn btn-primary btn-lg" asp-controller="Trasgressore" asp-action="Index" role="button">Anagrafe Trasgressori</a>
    <a class="btn btn-secondary btn-lg" asp-controller="Violazione" asp-action="Index" role="button">Elenco Violazioni</a>
    <a class="btn btn-success btn-lg" asp-controller="Verbale" asp-action="Index" role="button">Compilazione Verbale</a>
    <a class="btn btn-info btn-lg" asp-controller="Report" asp-action="Index" role="button">Report</a>

</div>